{% extends "base.html" %}

{% block start %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;" method="post" enctype="multipart/form-data">
    <form class="col-6 card p-4 shadow-lg bg-white">
		{% csrf_token %}
        <h2 class="text-center mb-4 fw-bold">Add recipe you want</h2>
		<hr>
        <div class="mb-3">
            <label for="recipeName" class="form-label">Recipe name</label>
            <input name="recipe_name" required type="text" class="form-control" id="recipeName" placeholder="Input the name of food....">
        </div>

        <div class="mb-3">
            <label for="recipeDesc" class="form-label">Food description</label>
            <textarea name="recipe_description" class="form-control" id="recipeDesc" rows="3" placeholder="Short description about this recipe..."></textarea>
        </div>

        <div class="mb-3">
            <label for="recipeImg" class="form-label">Food image</label>
            <input name="recipe_image" required type="file" class="form-control" id="recipeImg">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success px-4">Add</button>
        </div>
    </form>
</div>
{% endblock %}
