<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Website của Khang{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="page-wrapper">
        <header class="site-header">
            <div class="container">
                <h2 class="logo">Khang Bui Tran Duy</h2>
                <nav>
                    <ul class="nav-links">
                        <li><a href="{% url 'home:index' %}">Trang Chủ</a></li>
                        <li><a href="{% url 'home:about' %}">Giới Thiệu</a></li>
                        <li><a href="{% url 'home:contact' %}">Liên Hệ</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="site-footer">
            <p>&copy; {{ now|date:"Y" }} - Website của DiKhang. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>