{% extends 'base.html' %}
{% load static %}

{% block title %}Trang Chủ - Website của Khang{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href ="{% static 'home/css/index.css' %}"
{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="hero-content">
        <h1>Chào Mừng Đến Website Của Tôi</h1>
        <p>Đây là nơi tôi chia sẻ về bản thân và các dự án lập trình được xây dựng bằng Django.</p>
        <a href="{% url 'home:about' %}" class="cta-button">Tìm hiểu thêm</a>
    </div>
</section>
{% endblock %}